@import "src/theme/variables";

.title {
  position: relative;
  h3 {
    text-align: center;
  }
  .close {
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 10px;
    padding: 5px;
    transform: translateY(-50%);
    outline: none;
    color: #000;
    font-weight: 900;
  }
}
